.buildpath
.idea
.project
.settings
.viminfo
/vendor
/node_modules
/data
/log
/composer.lock
/tests/log/*.xml
/tests/log/report
/tests/.phpunit.result.cache
/bin/pdepend
/bin/phing
/bin/phpcbf
/bin/phpcpd
/bin/phpcs
/.php_cs.cache
/bin/phpmd
/bin/php-cs-fixer
/bin/php-parse
/bin/phpstan
/bin/phpstan.phar
/bin/phpunit
/bin/composer.phar
/config/db.config

/tools/
.php-cs-fixer.cache
.phpcs.cache
.phpunit.result.cache
.phpunit.cache

.reports/
.docs/
.phpdoc/

*.bak
npm-shrinkwrap.json
package-lock.json
